_site/**
<!-->
body {
        background-image: url("https://qph.fs.quoracdn.net/main-thumb-112199972-200-bgvudpeosohisqaovvslmrrqhkmuzqjn.jpeg");
        background-repeat:no-repeat;

        background-size: cover;
}
<!-->
