<!doctype html>
<html>
  <head>
    <style>
body {
        background-image: url("https://qph.fs.quoracdn.net/main-thumb-112199972-200-bgvudpeosohisqaovvslmrrqhkmuzqjn.jpeg");
        background-repeat:no-repeat;

        background-size: cover;
}

</style>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1 style="text-align: center; font-size: 55px;"><a href="https://www.linkedin.com/in/prathamesh-mandke-866866168/"> Prathamesh Mandke</a> </h1>
    {{ content }}<br>
    {% include navs.html%}

  </body>
</html>
